### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno

### Projects ###
*.xcodeproj
*.xcworkspace

### Tuist managed dependencies ###
.build
graph.png
Derived
Derived/Sources/TuistBundle+NutritionalPlan.swift
NutritionalPlan.xcodeproj/xcshareddata/xcschemes/NutritionalPlan.xcscheme
build/XCBuildData
.DS_Store
Derived/Sources/TuistBundle+NutritionalPlan.swift
NutritionalPlan.xcodeproj/xcshareddata
Apps/NutritionalPlan/build/XCBuildData
